@media (max-width: 640px) {
  .home,
  .about {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .home {
    height: auto;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1em;
  }

  .home div,
  .about div {
    width: 100% !important;
    align-items: baseline;
  }

  p {
    font-size: 14px;
  }
  .menu-links a,
  .menu-links p {
    font-size: 1.5em;
  }
  .links a {
    font-size: 1rem;
  }

  .home-wrapper,
  .gallery-wrapper {
    padding-inline: 15px;
  }
  .home > div img {
    right: auto;
  }

  .burger {
    display: block;
    position: relative;
    z-index: 55;
  }

  .menu-links {
    display: block;
    position: absolute;
    width: 100%;
    background-color: #fdfdfd;
    top: -100vh;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .show-link {
    animation: drop-menu 1s forwards;
  }

  .hide-link{
    animation: revert-drop-menu 1s forwards;
  }

  @keyframes drop-menu {
    0% {
      top: -100vh;
    }
    40% {
      top: 0;
    }
    80% {
      top: -2vh;
    }
    100% {
      top: 0;
    }
  }
  
  @keyframes revert-drop-menu {
    0% {
      top: 0;
    }
    100% {
      top: -100vh;
    }
  }
  
}

@media screen and (max-width: 1024px) and (min-width: 641px) {
  .home > div:nth-child(1) {
    width: 40% !important;
  }
  .home > div:nth-child(2) {
    width: 60% !important;
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.6rem;
  }

  .home-wrapper,
  .gallery-wrapper {
    padding-inline: 20px;
  }

  .about p {
    font-size: 16px;
  }

  .home > div img {
    right: auto;
  }
}
